/* Body font import */
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* Heading font import */
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 400;
    padding: 30px;
}


.wrapper{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;

    grid-template-areas: 
    "banner banner"
    "nav main"
    "footer footer"
    ;

}

/* common code area */
.common{
    padding: 20px;
    border-radius: 10px;
}

/* grid areas */

.banner { grid-area: banner;
    background-color: #505e24;

    /* allows us to center content vertically */
    display: flex;
    align-items: center;

}

.nav { grid-area: nav;
    background-color: #6b1135;}

.main { grid-area: main;
    background-color: #792176;}

.footer { grid-area: footer;
    background-color: #956102;
    text-align: right;}

.logo {
    padding: 10px;
    float: left;
}

/* Text styling (headings)*/
h1 {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 300%;
}

/* set dimension of images for results pages below */
.instrument-illustration{
    max-width: 150px;
    height: auto;
    float: left;
    padding-right: 20px;
}

.results{
    padding: 20px;
    background-color: rgb(171, 122, 0);
    min-height: 150px;
    text-align: center;
}

.heading-block{
    display: flex;
}

.tag{
    background-color: #324b8f;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-right: 15px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(121, 88, 15);
    color: white;
    border: none;
    border-radius: 4px;
}